@import"style/utilidades.css";
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
 
    color: #111111;
}
ul,h1,h2,h3,p,blockquote{
    margin: 0px;
}
ul{
    
    list-style: none;
    padding: 0px;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
img{
    max-width: 100%;
    display: block;
}
img[src$=".jpg"] {
    border-radius:5px
}
/*botão e link para utilizar mais de uma vez*/
.link{
    margin-bottom: 5rem;
    text-transform: uppercase;
    display: inline-block;
    color: var(--cor-a1);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: var(--font-popis);
    transition: 0.3s;
    padding: 2px;
}
.link::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
}
.link:hover{
    color: var(--cor-p0);
}
.botao{
    display: inline-block;
    padding: 1rem 2rem;
    background-image: linear-gradient(var(--cor-ponto), var(--cor-botao));
    border-radius: 5px;
    box-shadow:  0 1px 2px  rgb(0, 0, 0.11);
    text-transform: uppercase;
    color:var(--cor-txbotao) ;
    font-size: 1.5rem;
    line-height: 1.33;
    font-family: var(--font-popis);
    font-weight: 600;
    max-width: max-content;

}
.botao:hover{
    background-image: linear-gradient(var(--cor-pontohover), var(--cor-botaohover));
}
.botao.secundario{
    background-image:linear-gradient(var(--cor-p3),var(--cor-p2));
    color: var(--cor-p11);
}
.botao.secundario:hover{
    background-image:linear-gradient(var(--cor-p3),var(--cor-p4));
    color: var(--cor-p11);
}
/* botão */
@media(max-width:600px){
    .botao{
        font-size: 0.8rem;
    }
}

/*Titulos das paginas internas*/
.titulo-bg{
    background-color: var(--cor-p1);
    padding:60px 0px;
}
.titulo > p{
    color: var(--cor-p7);
    margin-bottom: 4px;
}
.titulo.container{
    display: block;
}
.titulo > h1{
    color: var(--cor-p0);
}

@media(max-width:800px){
    .titulo-bg{
        padding: 40px 0px;
  }
  .titulo > p{
      text-transform: lowercase;
      font-size: 1rem;
      font-weight: 400;
  }
}
