@import"style/utilidades.css";
@import"style/tipografia.css";
main{
    background-color: var(--cor-p1);
    color: var(--cor-p0);
    box-shadow: inset 0 -120px var(--cor-p0) ;
}
.introducao-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
}
.introducao-conteudo{
    align-self: end;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 2rem;
    padding-bottom: 12.5rem;  
}
em{
    color: var(--cor-ponto);
}
.introducao h1{
    margin-bottom: 1rem;
}
.introducao p{
    margin-bottom: 20px;
    color:var(--cor-p8)
}


.introducao img{
 height: 100%;
 object-fit: cover;
 
}


@media(max-width:800px){
   
    .introducao-container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .introducao-conteudo{
        padding-bottom: 2.5rem;
    }
    .introducao img{
        height: 350px;
        width: 100%;
    }
    main{
        padding-top: 2.6rem;
        background-color: var(--cor-p2);
        box-shadow: inset 0 -60px var(--cor-p0) ;
    }
}
