@import"style/utilidades.css";
.font1-ggx-h1{
    font-size: 4rem;
    line-height: 1.125;
    font-family: var(--font-popis),sans-serif;
    font-weight: 600;
}
.font1-gg{
    font-size: 2rem;
    line-height: 1.25;
    font-family: var(--font-popis),sans-serif;
    font-weight: 600;
} 

.font1-p{
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    font-family: var(--font-popis),sans-serif   
}
.font1-pp{
    font-weight: 400;
    line-height: 1.35;
    font-size: 0.75rem;
    font-family: var(--font-popis),sans-serif
}
.font1-m{
    font-size: 1.125rem;
    line-height: 1.35;
    font-family: var(--font-popis),sans-serif;
    font-weight: 400;  
}
.font1-mb{
    font-size: 1.125rem;
    line-height: 1.35;
    font-family: var(--font-popis),sans-serif;
    font-weight: 600;  
}
.font1-g{
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: var(--font-popis),sans-serif;
    font-weight: 400;  
}
.font2-gg{
    font-size: 2rem;
    line-height: 1.125;
    font-family: var(--font-robot), sans-serif;
    font-weight: 500;
}
.font2-g{
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: var(--font-robot), sans-serif;
    font-weight: 400;  
}
.font2-gb{
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: var(--font-robot), sans-serif;
    font-weight: 500;  
    letter-spacing: 0.015em;
    text-transform: uppercase;
}
.font2-m-p{
    font-size: 1.125rem;
    line-height: 1.35;
    font-family: var(--font-robot), sans-serif;
    font-weight: 500;  
}
.font2-pp{
    font-weight: 400;
    line-height: 1.43;
    font-size: 0.875rem;
    font-family: var(--font-robot), sans-serif;
}
.font2-p{
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    font-family:var(--font-robot), sans-serif;    
}
@media(max-width:1200px){
    .introducao h1{
        font-size: 3rem;
    }
    .introducao p{
        font-size: 1.2rem;
    }
}